body {
    margin: 0;
    background-color: #1B244A;
    font-family: Verdana;
}

.container {
    display: flex;
    justify-content: space-around;
    color: #EEEEEE;
    font-weight: bold;
    font-size: 40px;
    padding-top: 10px;
}

.scoreboard {
    border: 2px solid black;
    height: 120px;
    width: 155px;
    margin-top: -30px;
    border-radius: 5px;
    background-color: #080001;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreboard2 {
    border: 2px solid black;
    height: 120px;
    width: 155px;
    margin-top: -30px;
    border-radius: 5px;
    background-color: #080001;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreboard-score {
    font-size: 90px;
    font-family: Cursed Timer ULiL;
    font-weight: normal;
    color: #F94F6D;
    margin-bottom: -15px;
}

.button-div-home {
    display: flex; 
    justify-content: space-between;
    width: 155px;
    height: 45px;
    margin-left: 2px;
    margin-top: 26px;
}

.button-div-guest {
    display: flex; 
    justify-content: space-between;
    width: 155px;
    height: 45px;
    margin-left: 12px;
    margin-top: 26px;
}

.score-button {
    width: 45px;
    height: 45px;
    font-family: Cursed Timer ULiL;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
}